default_language_version:
    python: python3.12

repos:
  # All files basic formatter
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-merge-conflict
      - id: check-yaml
        exclude: "docs/mkdocs.yml"
      - id: end-of-file-fixer
        exclude: "src/spec/configs/\\w+\\.yaml$"
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        additional_dependencies:
          [
          aiohttp==3.13.3,
          aiosignal==1.4.0,
          msgspec==0.20.0,
          prometheus-client==0.24.1,
          pytest==9.0.2,
          remerkleable==0.1.28,
          types-PyYAML==6.0.12.20250915,
          ]

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.24
    hooks:
      - id: uv-lock
      - id: uv-export
        name: export dependencies -> requirements.txt
        args: ["--no-dev", "--output-file=requirements.txt"]
      - id: uv-export
        name: export dev dependencies -> requirements-dev.txt
        args: ["--dev", "--output-file=requirements-dev.txt"]

  - repo: local
    hooks:
      - id: check-spec-types
        name: check types used in spec
        entry: ./src/spec/type_check.sh
        language: system
