name: assertoor

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  assertoor:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build Docker image
        run: docker build -t vero:custom .

      - name: Kurtosis Assertoor GitHub Action
        uses: ethpandaops/kurtosis-assertoor-github-action@c78bc0981cb4f7c4ac609046a971a8d448dfa7be # v1 + pinned hashes
        with:
          ethereum_package_args: .github/assertoor/vero.yml
